@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
	font-family: 'Poppins', sans-serif;
}
body {
	min-height: 100vh;
	background: #27282c;
	margin: 0;
	padding: 0;
}
.headerDiv {
	background: #222326;
	position: sticky;
	top: 0;
	min-width: 100vh;
	height: 10vh;
	padding-top: 20px;
	}
.headerLogo {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 10px 30px;
	color: #fff;
	transition: 0.5s;
	max-width: 200px;
}
.headerLogo:hover {
	color: var(--clr);
	letter-spacing: 0.25em;
}
.headerLogo::before {
	content: '';
	position: absolute;
}
.headerGithub {
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 200;
	padding: 5px 20px;
	color: #fff;
	transition: 0.5s;
	border: 2px solid white;
	right: 30px;
	max-width: 200px;
}
.headerGithub:hover {
	box-shadow: 0 0 10px var(--clr);
}
/* Main */
Main {
	margin: 10px;
}
Main div {
	margin: 5px;
}
.Main-div-header{
	margin: 4px 4px 0 4px;
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0;
}
.Main-div-description{
	position: relative;
	margin: 0 10px;
	padding: 0;
	color: #fff;
	font-size: 1em;
	text-transform: lowercase;
	letter-spacing: 0.1em;
}
.Main-projects{
	display: flex;
	justify-content: space-between;
	 flex-wrap: wrap;

}
Main div div {
	border: 1px solid #fff;
	width: 400px;
	height: 300px;
	margin: 10px;
	box-shadow: 0 0 10px #000;
	transition: 0.5s;
	}
.Main-projects-header {
	font-size: 1.5em;
	color: #fff;
}
Main div div:hover {
	box-shadow: 0 0 10px #fff;
	/*cursor: pointer;*/
}