@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {

	font-family: 'Poppins', sans-serif;
}
body {
	min-height: 100vh;
	background: #27282c;
	margin: 0;
	padding: 0;
}
.headerDiv {
	background: #222326;
	position: sticky;
	top: 0;
	min-width: 100vh;
	height: 10vh;
	padding-top: 20px;
	}
.headerLogo {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 10px 30px;
	color: #fff;
	transition: 0.5s;
}
.headerLogo:hover {
	color: var(--clr);
	letter-spacing: 0.25em;

}
.headerLogo::before {
	content: '';
	position: absolute;
}
.headerGithub {
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 200;
	padding: 5px 20px;
	color: #fff;
	transition: 0.5s;
	border: 2px solid white;
	right: 30px;
}
.headerGithub:hover {
	box-shadow: 0 0 5px var(--clr);
	letter-spacing: 0.25em;
	padding: 7px 25px;
}